/* chat.css */
.chatContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.newMatches {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}

.newMatches li {
  flex: 0 0 calc(33.33% - 20px); /* Adjust as needed for the number of columns */
  max-width: calc(33.33% - 20px); /* Adjust as needed for the number of columns */
  text-align: center;
  margin-bottom: 20px;
}

.messageLog {
  display: flex;
  list-style-type: none;
  margin-top: 20px;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.messageLog li {
  align-self: flex-start;
  background-color: #e1e1e1;
  padding: 10px 15px;
  border-radius: 15px;
  max-width: 70%;
  word-wrap: break-word;
}

.newMatchesHeader {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.messageLogHeader {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden; /* Add this property */
}
/* Add more styles as needed */
