
.chatContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.newMatches {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.newMatches li {
  margin-left: 40px;
  
}

.messageLog {
  display: flex;
  list-style-type: none;
  margin-top: 0px;
  justify-content: flex-start;
  flex-direction: column;
}

.messageLog li {
  margin-bottom: 10px;
}


.newMatchesHeader{
  display: flex;
  /* background-color: red; */
  align-items: flex-start;
  margin-left: 40px;
}
.messageLogHeader{
  display: flex;
  align-items: flex-start;
  margin-left: 40px;
}