.profile-card {
  
  background-color: red;
  align-items: center;
  max-width: 80%;
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  flex-direction: column;  
 
}
.profile-card img {
  max-width: 350px;
  max-height: 350px;
  object-fit: cover;

  clip-path: inset(0 75px 0 75px);
}
.image-container {
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center; 
  background-color: black;
}

.profile-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 10px;
}

.swipe-buttons {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;


}

